.contact-wrapper {
  width: 100%;
  background-image: url(../../assets/contact//Desktop\ -\ 5.png);
  background-position: center;
  background-repeat: no-repeat;
}
.contact-container {
  width: 100%;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.contact-top-container{
  display: flex;
  flex-direction: column;
}
.contact-title{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 700;

}
.contact-left-bottom-text{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 500;

}

.contact-bottom-number{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.contact-bottom-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.contact-button-container{
  display:flex ;
  /* flex-direction: column; */
  gap: 4rem;
}
.contact-button-1{
  padding: 0.8rem 2.8rem;
  cursor: pointer;
  outline: none;
  border: none;

  background: #0B163F;
 
  border-radius: 10px;
  border: 1px solid white;


font-family: 'Poppins', sans-serif;
}
.contact-button-1>a{
  text-decoration: none;
  color: white;
font-family: 'Poppins', sans-serif;


}
.contact-button-2{
  padding: 0.8rem 2.3rem;
  cursor: pointer;
  outline: none;
  border: none;

  border: 1px solid white;

 background: transparent;
  border-radius: 10px;
}
.contact-button-2>a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;


}







@media (max-width: 768px) {
  .contact-container {
    padding: 0;
    
    gap: 0.5rem;
  }
  .contact-title{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 600;
  
  }
  
  
}

